body {
  font-family: Helvetica;
  background-color: #ffd633;
  background-image: url(http://www.artquirks.com/cover_generator/cover_generator.php#);
}

#album-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.album-list-item {
  border: 1px solid;
  padding:1%;
  margin:1% 1%;
  width:200px;
  height:250px;
  background-color: #ecf0f1;
  color: grey;
  border-radius: 5px;
  border-bottom: 2px solid grey;

}
